.buttons #button{
    width: 100%;
}

.buttons #bheader{
    padding: 0;
    margin: 0;
}

.disponibilidad{
    background: url("images/ui-bg_gloss-wave_60_FFBD09_500x100.png") repeat-x scroll 50% 50% #FFBD09;
    height: 250px;
    border: 1px solid #D19405;
}

body{
    font-family: Segoe UI,Arial,sans-serif;
}

.video{
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.form {
    margin: 20px;
    margin-left: 80px !important;
}

.disVid{
    margin-top: 2px;
}

.lorem{
    margin-top: 30px;
}

.buttonService{
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}

.servicios{
    padding-left: 0px;
}

.serviciosDesc{
    padding-left: 0px;
    padding-right: 0px;
}

.instalaciones{
    padding-left: 0px;
}

.instalacionesDesc{
    padding-left: 0px;
    padding-right: 0px;
}

.title{
    background: #FFBD09 url("images/ui-bg_gloss-wave_60_FFBD09_500x100.png") 50% 50% repeat-x;
    padding: .6em 1em;
    color: #4c3000;
    font-weight: bold;
    text-align: center;
    border: 1px solid #d19405;
    font-family: Segoe UI,Arial,sans-serif;
}

.descripcion{
    padding-left: 0px;
    margin-top: 10px;
}

.fotoDescDiv {
    padding-right: 0px;    
}

a.fotoDesc img {
    margin-top: 10px;
    width: 100%;
}

.mapa {
    margin-top: 10px;
    width: 100%;
    
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.buttonComplex{
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}



#opener{
    width: 100% !important;
    display: inline-block;
    text-align: center;
/*    margin: 1em 0;*/
    /*height: 40px;*/
    text-decoration: none;
    /*position: relative;*/
    vertical-align: middle !important;
    /*overflow: visible;*/
    font-size: 1.1em;
    line-height: 215%;
}

form fieldset {
    float: left;
    width: 48%;
}

label {
    display: block;
    margin: .5em 0 0 0;
    font-weight:bold;
    color: #4C3000;
}

form input{
    margin-top: 10px;
}

#number-button{
    margin-top: 10px;
    box-shadow: 2px 2px 2px #D19405;
    width: 55px !important;
}

#niños-button{
    margin-top: 10px;
    box-shadow: 2px 2px 2px #D19405;
    width: 55px !important;
}

input[type='text']{
    background: url("images/ui-bg_flat_100_FFDB5C_40x100.png") repeat-x scroll 50% 50% #FFDB5C;
    box-shadow: 2px 2px 2px #D19405;
    border: 1px solid #D19405;
    color: #402D02;
    text-align: center;
    font-weight: bold;
    width: 160px;
    height: 25px;
}

.boton{
    box-shadow: 2px 2px 2px #D19405;
    background: url("images/ui-bg_flat_100_FFDB5C_40x100.png") repeat-x scroll 50% 50% #FFDB5C;
}

.images{
    margin-top: 30px;

}
.images img{
    width: 100%;

}

#mascotas{
    width: 270px;
    height: 103px;
}

#playa{
    width: auto;
    height: 103px;
    border-radius: 5px;
}

.FT{
    width: 50px;
    margin-top: 5px;
}

.footer{
    text-align: right;
    background: url("images/ui-bg_gloss-wave_60_FFBD09_500x100.png") repeat-x scroll 50% 50% #FFBD09;
    height: 60px;
}

@-moz-document url-prefix() { 
    #opener{
        line-height: 216%;
    }
}
